.catalogue {
  padding-top: 24px;
  padding-bottom: 71px;

  @include mobile {
    padding-top: 18px;
  }

  &__heading {
    margin-bottom: 25px;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 34px;

    @include big-desktop {
      gap: 15px
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }

    @include tablet {
      grid-template-columns: repeat(2, minmax(214px, 500px));
    }

    @include small-tablet {
      gap: 15px;
    }

    @include mobile {
      grid-template-columns: repeat(2, minmax(138px, 400px));
    }
  }

  &__card.main-card {
    &:nth-child(n + 9) {
      display: none;
    }

    @include desktop {
      &:nth-child(n + 7) {
        display: none;
      }
    }
  }

  &__more {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 19px 35px;
    cursor: pointer;

    @include mobile {
      padding: 19px 34px;
    }
  }
}
