<section class="banner">
  <picture>
    <source media="(min-width: 320px) and (max-width: 560px)" srcset="img/banner_320.jpg">
    <source media="(max-width: 870px)" srcset="img/banner_768.jpg">
    <source media="(max-width: 1290px)" srcset="img/banner_1024.jpg">
    <img class="banner__img" src="img/banner.jpg" alt="Новая коллекция изысканных кресел">
  </picture>
    <div class="banner__block">
      <h2 class="title banner__title">Оксфорд 1950</h2>
      <p class="paragraph banner__paragraph">Новая коллекция изысканных кресел</p>
      <a class="purple-btn banner__btn" href="#">Ознакомиться</a>
    </div>
</section>
