<section class="blog">
  <div class="container blog__container">
    <h2 class="heading blog__heading">Полезное</h2>
    <div class="swiper blog__swiper">
      <div class="blog__btns">
        <div class="swiper-button-prev blog__btn-prev btn-arrow btn-arrow-prev"></div>
        <div class="swiper-button-prev blog__btn-next btn-arrow btn-arrow-next"></div>
      </div>
      <div class="swiper-wrapper blog__swiper-wrapper">
        <div class="swiper-slide blog__swiper-slide">
          <picture>
            <source type="image/webp" media="(min-width: 320px) and (max-width: 680px)" srcset="img/useful_1_320.webp">
            <source type="image/webp" media="(max-width: 100px)" srcset="img/useful_1_768.webp">
            <source type="image/webp" media="(max-width: 1024px)" srcset="img/useful_1_1024.webp">
            <source type="image/webp" srcset="img/useful_1.webp">
            <img class="blog__img" src="img/useful_1.jpg" alt="Полезное 1">
          </picture>
          <div class="blog__block">
            <p class="paragraph blog__paragraph">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?</p>
            <a class="buy blog__link" href="#">Читать</a>
          </div>
        </div>
        <div class="swiper-slide blog__swiper-slide">
          <picture>
            <source type="image/webp" media="(min-width: 320px) and (max-width: 680px)" srcset="img/useful_2_320.webp">
            <source type="image/webp" media="(max-width: 100px)" srcset="img/useful_2_768.webp">
            <source type="image/webp" media="(max-width: 1024px)" srcset="img/useful_2_1024.webp">
            <source type="image/webp" srcset="img/useful_2.webp">
            <img class="blog__img" src="img/useful_2.jpg" alt="Полезное 2">
          </picture>
          <div class="blog__block">
            <p class="paragraph blog__paragraph">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
            <a class="buy blog__link" href="#">Читать</a>
          </div>
        </div>
        <div class="swiper-slide blog__swiper-slide">
          <picture>
            <source type="image/webp" media="(min-width: 320px) and (max-width: 680px)" srcset="img/useful_3_320.webp">
            <source type="image/webp" media="(max-width: 100px)" srcset="img/useful_3_768.webp">
            <source type="image/webp" media="(max-width: 1024px)" srcset="img/useful_3_1024.webp">
            <source type="image/webp" srcset="img/useful_3.webp">
            <img class="blog__img" src="img/useful_3.jpg" alt="Полезное 3">
          </picture>
          <div class="blog__block">
            <p class="paragraph blog__paragraph">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</p>
            <a class="buy blog__link" href="#">Читать</a>
          </div>
        </div>
        <div class="swiper-slide blog__swiper-slide">
          <picture>
            <source type="image/webp" media="(min-width: 320px) and (max-width: 680px)" srcset="img/useful_4_320.webp">
            <source type="image/webp" media="(max-width: 100px)" srcset="img/useful_4_768.webp">
            <source type="image/webp" media="(max-width: 1024px)" srcset="img/useful_4_1024.webp">
            <source type="image/webp" srcset="img/useful_4.webp">
            <img class="blog__img" src="img/useful_4.jpg" alt="Полезное 4">
          </picture>
          <div class="blog__block">
            <p class="paragraph blog__paragraph">Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?</p>
            <a class="buy blog__link" href="#">Читать</a>
          </div>
        </div>
        <div class="swiper-slide blog__swiper-slide">
          <picture>
            <source type="image/webp" media="(min-width: 320px) and (max-width: 680px)" srcset="img/useful_5_320.webp">
            <source type="image/webp" media="(max-width: 100px)" srcset="img/useful_5_768.webp">
            <source type="image/webp" media="(max-width: 1024px)" srcset="img/useful_5_1024.webp">
            <source type="image/webp" srcset="img/useful_5.webp">
            <img class="blog__img" src="img/useful_5.jpg" alt="Полезное 5">
          </picture>
          <div class="blog__block">
            <p class="paragraph blog__paragraph">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
            <a class="buy blog__link" href="#">Читать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
