<section class="catalogue catalogue-couch">
  <h2 class="heading catalogue-couch__heading">Каталог</h2>
  <div class="swiper catalogue-couch__block">
    <div class="swiper-wrapper catalogue-couch__wrapper">
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">5,0</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_1_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_1_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_1_1024.webp">
                <source type="image/webp" srcset="img/sofa_1.webp">
                <img class="catalogue__img card__img" src="img/sofa_1.png" alt="Диван кожаный “R-94”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван кожаный <br> “R-94”</h3>
            </a>
            <span class="catalogue__price card__price">94 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,9</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_2_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_2_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_2_1024.webp">
                <source type="image/webp" srcset="img/sofa_2.webp">
                <img class="catalogue__img card__img" src="img/sofa_2.png" alt="Диван апартековый “T-75”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван апартековый <br> “T-75”</h3>
            </a>
            <span class="catalogue__price card__price">69 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,8</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_3_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_3_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_3_1024.webp">
                <source type="image/webp" srcset="img/sofa_3.webp">
                <img class="catalogue__img card__img" src="img/sofa_3.png" alt="Диван тканевый “D-31”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван тканевый <br> “D-31”</h3>
            </a>
            <span class="catalogue__price card__price">28 490 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,8</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_4_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_4_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_4_1024.webp">
                <source type="image/webp" srcset="img/sofa_4.webp">
                <img class="catalogue__img card__img" src="img/sofa_4.png" alt="Диван велюровый “Y-68”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван велюровый <br> “Y-68”</h3>
            </a>
            <span class="catalogue__price card__price">22 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,8</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_5_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_5_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_5_1024.webp">
                <source type="image/webp" srcset="img/sofa_5.webp">
                <img class="catalogue__img card__img" src="img/sofa_5.png" alt="Диван из шинила “W-95”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван из шинила <br> “W-95”</h3>
            </a>
            <span class="catalogue__price card__price">22 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,8</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_6_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_6_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_6_1024.webp">
                <source type="image/webp" srcset="img/sofa_6.webp">
                <img class="catalogue__img card__img" src="img/sofa_6.png" alt="Диван флоковый “G-41”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “G-41”</h3>
            </a>
            <span class="catalogue__price card__price">17 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,8</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_7_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_7_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_7_1024.webp">
                <source type="image/webp" srcset="img/sofa_7.webp">
                <img class="catalogue__img card__img" src="img/sofa_7.png" alt="Диван шиниловый “V-43”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван шиниловый <br> “V-43”</h3>
            </a>
            <span class="catalogue__price card__price">19 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,7</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_8_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_8_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_8_1024.webp">
                <source type="image/webp" srcset="img/sofa_8.webp">
                <img class="catalogue__img card__img" src="img/sofa_8.png" alt="Диван велюровый “S-99”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван велюровый <br> “S-99”</h3>
            </a>
            <span class="catalogue__price card__price">19 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,7</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_9_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_9_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_9_1024.webp">
                <source type="image/webp" srcset="img/sofa_9.webp">
                <img class="catalogue__img card__img" src="img/sofa_9.png" alt="Диван из кожзама “F-85”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван из кожзама <br> “F-85”</h3>
            </a>
            <span class="catalogue__price card__price">26 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_10_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_10_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_10_1024.webp">
                <source type="image/webp" srcset="img/sofa_10.webp">
                <img class="catalogue__img card__img" src="img/sofa_10.png" alt="Диван флоковый “H-64”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “H-64”</h3>
            </a>
            <span class="catalogue__price card__price">25 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
      </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_11_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_11_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_11_1024.webp">
                <source type="image/webp" srcset="img/sofa_11.webp">
                <img class="catalogue__img card__img" src="img/sofa_11.png" alt="Диван флоковый “H-58”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “H-58”</h3>
            </a>
            <span class="catalogue__price card__price">23 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_12_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_12_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_12_1024.webp">
                <source type="image/webp" srcset="img/sofa_12.webp">
                <img class="catalogue__img card__img" src="img/sofa_12.png" alt="Диван из кожзама “R-43”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван из кожзама <br> “R-43”</h3>
            </a>
            <span class="catalogue__price card__price">33 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_10_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_10_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_10_1024.webp">
                <source type="image/webp" srcset="img/sofa_10.webp">
                <img class="catalogue__img card__img" src="img/sofa_10.png" alt="Диван флоковый “H-64”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “H-64”</h3>
            </a>
            <span class="catalogue__price card__price">25 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_11_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_11_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_11_1024.webp">
                <source type="image/webp" srcset="img/sofa_11.webp">
                <img class="catalogue__img card__img" src="img/sofa_11.png" alt="Диван флоковый “H-58”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “H-58”</h3>
            </a>
            <span class="catalogue__price card__price">23 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_12_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_12_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_12_1024.webp">
                <source type="image/webp" srcset="img/sofa_12.webp">
                <img class="catalogue__img card__img" src="img/sofa_12.png" alt="Диван из кожзама “R-43”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван из кожзама <br> “R-43”</h3>
            </a>
            <span class="catalogue__price card__price">33 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_10_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_10_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_10_1024.webp">
                <source type="image/webp" srcset="img/sofa_10.webp">
                <img class="catalogue__img card__img" src="img/sofa_10.png" alt="Диван флоковый “H-64”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “H-64”</h3>
            </a>
            <span class="catalogue__price card__price">25 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_11_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_11_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_11_1024.webp">
                <source type="image/webp" srcset="img/sofa_11.webp">
                <img class="catalogue__img card__img" src="img/sofa_11.png" alt="Диван флоковый “H-58”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван флоковый <br> “H-58”</h3>
            </a>
            <span class="catalogue__price card__price">23 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="card catalogue-couch__card">
          <span class="catalogue__rate card__rate">4,6</span>
          <div class="card__picture catalogue__picture">
            <a href="/product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_12_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_12_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_12_1024.webp">
                <source type="image/webp" srcset="img/sofa_12.webp">
                <img class="catalogue__img card__img" src="img/sofa_12.png" alt="Диван из кожзама “R-43”">
              </picture>
            </a>
          </div>
          <div class="catalogue__descr card__descr">
            <a href="/product.html" class="product-link">
              <h3 class="title catalogue__title card__title">Диван из кожзама <br> “R-43”</h3>
            </a>
            <span class="catalogue__price card__price">33 990 руб</span>
            <a class="btn buy catalogue__btn card__btn">Купить</a>
          </div>
        </article>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal catalogue-couch__btns"></div>
  </div>
</section>
