<section class="cathegories">
  <div class="container cathegories__container">
    <h2 class="heading cathegories__heading">Топ категории</h2>
    <ul class="list-reset cathegories__block">
      <li class="cathegories__block-item cathegories__block-item--1">
        <ul class="list-reset cathegories__list">
          <li class="cathegories__item"><a class="cathegories__link" href="#">Прямые</a></li>
          <li class="cathegories__item"><a class="cathegories__link" href="#">Угловые</a></li>
          <li class="cathegories__item"><a class="cathegories__link" href="#">Модульные</a></li>
        </ul>
        <h3 class="title cathegories__title">
          Диваны
          <span class="btn-arrow btn-arrow-next cathegories__btn cathegories__btn-mobile"></span>
        </h3>
        <picture>
          <source type="image/webp" media="(min-width: 320px) and (max-width: 578px)" srcset="img/cathegory_1_320.webp">
          <source type="image/webp" media="(max-width: 1000px)" srcset="img/cathegory_1_768.webp">
          <source type="image/webp" media="(max-width: 1240px)" srcset="img/cathegory_1_1024.webp">
          <source type="image/webp" srcset="img/cathegory_1.webp">
          <img class="cathegories__img cathegories__img-big" src="img/cathegory_1.png" alt="Диваны">
        </picture>
        <a class="cathegories__catalogue" href="catalogue.html">
          В каталог
          <span class="btn-arrow btn-arrow-next cathegories__btn"></span>
        </a>
      </li>
      <li class="cathegories__block-item cathegories__block-item--2 cathegories__block-item-mobile">
        <ul class="list-reset cathegories__list cathegories__list-mobile">
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Мягкие</a></li>
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Кресла-кровати</a></li>
        </ul>
        <h3 class="title cathegories__title cathegories__title-mobile">
          Кресла
          <span class="btn-arrow btn-arrow-next cathegories__btn cathegories__btn-mobile"></span>
        </h3>
        <picture>
          <source type="image/webp" media="(min-width: 320px) and (max-width: 578px)" srcset="img/cathegory_2_320.webp">
          <source type="image/webp" media="(max-width: 1000px)" srcset="img/cathegory_2_768.webp">
          <source type="image/webp" media="(max-width: 1240px)" srcset="img/cathegory_2_1024.webp">
          <source type="image/webp" srcset="img/cathegory_2.webp">
          <img class="cathegories__img" src="img/cathegory_2.png" alt="Кресла">
        </picture>
        <a class="cathegories__catalogue" href="#">
          В каталог
          <span class="btn-arrow btn-arrow-next cathegories__btn"></span>
        </a>
      </li>
      <li class="cathegories__block-item cathegories__block-item--3 cathegories__block-item-mobile">
        <ul class="list-reset cathegories__list cathegories__list-mobile">
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Односпальные</a></li>
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Двуспальные</a></li>
        </ul>
        <h3 class="title cathegories__title cathegories__title-mobile">
          Кровати
          <span class="btn-arrow btn-arrow-next cathegories__btn cathegories__btn-mobile"></span>
        </h3>
        <picture>
          <source type="image/webp" media="(min-width: 320px) and (max-width: 578px)" srcset="img/cathegory_3_320.webp">
          <source type="image/webp" media="(max-width: 1000px)" srcset="img/cathegory_3_768.webp">
          <source type="image/webp" media="(max-width: 1240px)" srcset="img/cathegory_3_1024.webp">
          <source type="image/webp" srcset="img/cathegory_3.webp">
          <img class="cathegories__img cathegories__img-bed" src="img/cathegory_3.png" alt="Кровати">
        </picture>
        <a class="cathegories__catalogue" href="#">
          В каталог
          <span class="btn-arrow btn-arrow-next cathegories__btn"></span>
        </a>
      </li>
      <li class="cathegories__block-item cathegories__block-item--4 cathegories__block-item-mobile">
        <ul class="list-reset cathegories__list cathegories__list-mobile">
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Тумбы</a></li>
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Комоды</a></li>
        </ul>
        <h3 class="title cathegories__title cathegories__title-mobile">
          Тумбы и комоды
          <span class="btn-arrow btn-arrow-next cathegories__btn cathegories__btn-mobile"></span>
        </h3>
        <picture>
          <source type="image/webp" media="(min-width: 320px) and (max-width: 578px)" srcset="img/cathegory_4_320.webp">
          <source type="image/webp" media="(max-width: 1000px)" srcset="img/cathegory_4_768.webp">
          <source type="image/webp" media="(max-width: 1240px)" srcset="img/cathegory_4_1024.webp">
          <source type="image/webp" srcset="img/cathegory_4.webp">
          <img class="cathegories__img" src="img/cathegory_4.png" alt="Тумбы и комоды">
        </picture>
        <a class="cathegories__catalogue" href="#">
          В каталог
          <span class="btn-arrow btn-arrow-next cathegories__btn"></span>
        </a>
      </li>
      <li class="cathegories__block-item cathegories__block-item--5 cathegories__block-item-mobile">
        <ul class="list-reset cathegories__list cathegories__list-mobile">
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Деревянные</a></li>
          <li class="cathegories__item cathegories__item-mobile"><a class="cathegories__link cathegories__link-mobile" href="#">Металлокаркас</a></li>
        </ul>
        <h3 class="title cathegories__title cathegories__title-mobile">
          Стулья
          <span class="btn-arrow btn-arrow-next cathegories__btn cathegories__btn-mobile"></span>
        </h3>
        <picture>
          <source type="image/webp" media="(min-width: 320px) and (max-width: 578px)" srcset="img/cathegory_5_320.webp">
          <source type="image/webp" media="(max-width: 1000px)" srcset="img/cathegory_5_768.webp">
          <source type="image/webp" media="(max-width: 1240px)" srcset="img/cathegory_5_1024.webp">
          <source type="image/webp" srcset="img/cathegory_5.webp">
          <img class="cathegories__img" src="img/cathegory_5.png" alt="Стулья">
        </picture>
        <a class="cathegories__catalogue" href="#">
          В каталог
          <span class="btn-arrow btn-arrow-next cathegories__btn"></span>
        </a>
      </li>
    </ul>
  </div>
</section>
