<section class="contact">
  <div class="container contact__container">
    <h2 class="heading contact__heading">Мы всегда вам рады!</h2>
    <div class="contact__block">
      <div class="contact__left">
        <p class="paragraph contact__paragraph">
          Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="tooltip"></button>
            <span class="tooltip__txt" role="tooltip">
                Реплицированные с зарубежных источников, исследования формируют глобальную сеть.
                <span id="arrow" data-popper-arrow></span>
            </span>
          </span>
        </p>
        <form class="contact-form" action="POST">
          <input type="text" name="subscribtion" style="display: none;">
          <label class="contact-form__label">
            <input class="input-reset contact-form__input" id="form-name" type="text" name="name" placeholder="Как вас зовут?" required>
          </label>
          <label class="contact-form__label">
            <input class="input-reset contact-form__input" id="form-tel" type="tel" name="telephone" placeholder="Ваш телефон" required>
          </label>
          <label class="contact-form__label">
            <input class="input-reset contact-form__input" id="form-email" type="email" name="email" placeholder="Ваш e-mail" required>
          </label>
          <button class="btn-reset contact-form__btn purple-btn" type="submit">Отправить</button>
          <label class="checkbox contact-form__checkbox">
            <input class="checkbox__field" id="form-checkbox" type="checkbox" checked required>
            <span class="checkbox__text">Принимаю <a class="checkbox__link" href="#">пользовательское соглашение</a></span>
          </label>
        </form>
      </div>
      <div class="contact__right"></div>
    </div>
  </div>
</section>
