<section class="cooperation">
  <div class="container">
    <h1 class="heading cooperation__heading">Сотрудничество</h1>
    <div class="cooperation__block">
      <h2 class="heading cooperation__block-heading">Поставщикам</h2>
      <p class="paragraph cooperation__paragraph">
        При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
      </p>
    </div>
    <div class="cooperation__block">
      <h2 class="heading cooperation__block-heading">Что вы получаете?</h2>
      <ul class="list-reset cooperation__list">
        <li class="cooperation__item">
          <img src="img/cooperation-1.svg" alt="Поставщикам">
          <p class="paragraph cooperation__paragraph">
            Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
          </p>
        </li>
        <li class="cooperation__item">
          <img src="img/cooperation-2.svg" alt="Поставщикам">
          <p class="paragraph cooperation__paragraph">
            Комплексное решение для красивого и функционального обустройства любых пространств. 
          </p>
        </li>
        <li class="cooperation__item">
          <img src="img/cooperation-3.svg" alt="Поставщикам">
          <p class="paragraph cooperation__paragraph">
            В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
          </p>
        </li>
      </ul>
    </div>
    <div class="cooperation__block">
      <h2 class="heading cooperation__block-heading cooperation__second-heading">Ваши преимущества от сотрудничества</h2>
      <ul class="list-reset cooperation__second-list">
        <li>
          <h3 class="heading cooperation__orange-heading">Возможность 1:</h3>
          <p class="paragraph cooperation__paragraph">
            Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.
          </p>
        </li>
        <li>
          <h3 class="heading cooperation__orange-heading">Возможность 2:</h3>
          <p class="paragraph cooperation__paragraph">
            Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
          </p>
        </li>
      </ul>
    </div>
    <div class="cooperation__block">
      <h2 class="heading cooperation__block-heading">Гарантии</h2>
      <ul class="list-reset cooperation__third-list">
        <li>
          <span>1</span>
          <p class="paragraph cooperation__paragraph">
            При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
          </p>
        </li>
        <li>
          <span>2</span>
          <p class="paragraph cooperation__paragraph">
            На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
          </p>
        </li>
        <li>
          <span>3</span>
          <p class="paragraph cooperation__paragraph">
            Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
          </p>
        </li>
      </ul>
    </div>
    <div class="cooperation__image-block">
      <img src="img/pencil.png" alt="Поставщикам">
      <h3 class="heading">Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев</h3>
    </div>
  </div>
</section>