<footer class="footer">
    <div class="footer-top">
      <div class="container footer-top__container">
        <div class="footer-top__block">
          <div class="footer-top__left">
            <a class="footer-top__logo-link" href="#">
              <img class="footer-top__logo" src="img/logo.svg" alt="Логотип SitDownPls">
            </a>
            <ul class="list-reset footer-top__list">
              <li class="footer-top__item">
                <a href="#" class="footer-top__social">
                  <svg class="footer-top__social-svg">
                    <use xlink:href="img/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-top__item">
                <a href="#" class="footer-top__social">
                  <svg class="footer-top__social-svg">
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-top__item">
                <a href="#" class="footer-top__social">
                  <svg class="footer-top__social-svg">
                    <use xlink:href="img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <div class="footer-top__right">
            <div class="footer-top__grid">
              <div class="footer-top__cell cell">
                <h3 class="title cell__title">О&nbspнас</h3>
                <ul class="list-reset cell__list">
                  <li class="cell__item">
                    <a href="#" class="cell__link">О&nbspкомпании</a>
                  </li>
                  <li class="cell__item">
                    <a href="#" class="cell__link">Блог</a>
                  </li>
                </ul>
              </div>
              <div class="footer-top__cell cell">
                <h3 class="title cell__title">Услуги</h3>
                <ul class="list-reset cell__list">
                  <li class="cell__item">
                    <a href="#" class="cell__link">Доставка</a>
                  </li>
                  <li class="cell__item">
                    <a href="#" class="cell__link">Рассрочка и кредит</a>
                  </li>
                  <li class="cell__item">
                    <a href="#" class="cell__link">Сборка и установка</a>
                  </li>
                </ul>
              </div>
              <div class="footer-top__cell cell">
                <h3 class="title cell__title">Связь с нами</h3>
                <ul class="list-reset cell__list">
                  <li class="cell__item">
                    <a href="#" class="cell__link">Обратная связь</a>
                  </li>
                  <li class="cell__item">
                    <a href="#" class="cell__link">Контакты</a>
                  </li>
                </ul>
              </div>
              <div class="footer-top__cell cell">
                <h3 class="title cell__title">Сотрудничество</h3>
                <ul class="list-reset cell__list">
                  <li class="cell__item">
                    <a href="cooperation.html" class="cell__link">Поставщикам</a>
                  </li>
                  <li class="cell__item">
                    <a href="cooperation.html" class="cell__link">Оптовикам</a>
                  </li>
                  <li class="cell__item">
                    <a href="cooperation.html" class="cell__link">Карьера</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container footer-bottom__container">
        <span class="footer-bottom__txt">SDP®   2011-2021</span>
      </div>
    </div>
  </div>
</footer>
