<header class="header">
  <div class="header-top">
    <div class="container header-top__container">
      <div class="header-top__block">
        <div class="header-top__region region">
          <span class="region__text">Ваш регион:</span>
          <select class="js-region-select" aria-label="Выберите ваш регион" name="region">
            <option value="Moscow">Москва</option>
            <option value="Kazan">Казань</option>
            <option value="Ufa">Уфа</option>
            <option value="Perm'">Пермь</option>
            <option value="Saint-Petersburg">Санкт-Петербург</option>
            <option value="Nizhnij Novgorod">Нижний Новгород</option>
            <option value="Novosibirsk">Новосибирск</option>
            <option value="Vladivostok">Владивосток</option>
          </select>
        </div>
        <a class="header-top__phone" href="tel:+74958854547">
          <svg class="header-top__svg">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          +7 (495) 885-45-47
        </a>
      </div>
      <nav class="header-top__nav" data-menu-2 title="Главное меню">
        <ul class="list-reset header-top__list">
          <li class="header-top__item"><a class="header-top__link" href="#" data-menu-item>О компании</a></li>
          <li class="header-top__item"><a class="header-top__link" href="#" data-menu-item>Гарантия и возврат</a></li>
          <li class="header-top__item"><a class="header-top__link" href="#" data-menu-item>Корпоративным клиентам</a></li>
          <li class="header-top__item"><a class="header-top__link" href="#" data-menu-item>Дизайн-решение</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-main">
    <div class="container header-main__container">
      <button class="header-main__burger burger" data-burger aria-expanded="false" aria-label="Открыть меню">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
      <a class="header-main__logo-link" href="index.html">
        <img class="header-main__logo" src="img/logo.svg" alt="Логотип SitDownPls">
      </a>
      <nav class="header-main__nav" data-menu title="Меню покупок">
        <ul class="list-reset header-main__list">
          <li class="header-main__item"><a class="header-main__link" href="catalogue.html" data-menu-item>Каталог</a></li>
          <li class="header-main__item"><a class="header-main__link" href="#" data-menu-item>Магазины</a></li>
          <li class="header-main__item"><a class="header-main__link" href="#" data-menu-item>Шоу-рум</a></li>
          <li class="header-main__item"><a class="header-main__link" href="#" data-menu-item>Доставка и оплата</a></li>
          <li class="header-main__item"><a class="header-main__link" href="#" data-menu-item>Дисконт</a></li>
          <li class="header-main__item"><a class="header-main__link" href="#" data-menu-item>Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container header-bottom__container">
      <form class="header-bottom__form" action="#" tabindex="0">
          <svg class="header-bottom__search-svg">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
          <input class="input-reset header-bottom__input" type="text" name="Поиск" placeholder="Я хочу купить...">
        <button class="btn-reset header-bottom__btn"></button>
      </form>
      <select class="header-bottom__select js-bottom-select" aria-label="Выбор мебели" name="cathegory">
        <option value="Cathegory">Категория</option>
        <option value="Couch">Диваны</option>
        <option value="Armchair">Кресла</option>
        <option value="Pouffe">Пуфы</option>
        <option value="Bed">Кровати</option>
        <option value="Bedside table">Тумбы</option>
        <option value="Dressers">Комоды</option>
        <option value="Chair">Стулья</option>
        <option value="Table">Столы</option>
        <option value="Accessories">Аксессуары</option>
      </select>
      <div class="header-bottom__personal">
        <a class="header-bottom__cabinet" href="#">
          <svg class="header-bottom__svg header-bottom__svg-person">
            <use xlink:href="img/sprite.svg#person"></use>
          </svg>
        </a>
        <a class="header-bottom__cart" href="#">
          <span class="header-bottom__cart-number">0</span>
          <svg class="header-bottom__svg header-bottom__svg-cart">
            <use xlink:href="img/sprite.svg#cart-number"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
