<section class="hero">
  <h1 class="visually-hidden">Sit Down Pls - мебельный магазин</h1>
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper hero__swiper-wrapper">
        <div class="swiper-slide hero__slide hero__slide--1">
          <div class="container hero__container">
            <h2 class="hero__title">Скидка 15% <br> на первую покупку</h2>
            <button class="btn-reset hero__btn purple-btn">Получить!</button>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide--2">
          <div class="container hero__container">
            <h2 class="hero__title">1000+ аксессуаров <br> для дома</h2>
            <button class="btn-reset hero__btn purple-btn">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide--3">
          <div class="container hero__container">
            <h2 class="hero__title">Коллекция стильного и яркого текстиля</h2>
            <button class="btn-reset hero__btn purple-btn">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide--4"></div>
    </div>
    <div class="swiper-pagination hero__swiper-pagination"></div>
  </div>
  <div class="container hero__container">
    <button class="btn-reset purple-btn hero__btn-hidden">Получить!</button>
  </div>
</section>
