<section class="similar">
  <div class="container">
    <h2 class="heading similar__heading">Похожие товары</h2>
    <div class="swiper similar__swiper">
      <div class="swiper-wrapper similar__swiper-wrapper">
        <div class="swiper-slide similar__swiper-slide">
          <article class="card similar-card">
            <span class="catalogue__rate card__rate">5,0</span>
            <div class="similar-card__picture">
              <a href="product.html" class="product-link">
                <picture>
                  <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_1_320.webp">
                  <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_1_768.webp">
                  <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_1_1024.webp">
                  <source type="image/webp" srcset="img/sofa_1.webp">
                  <img class="similar-card__img" src="img/sofa_1.png" alt="Диван кожаный “R-94”">
                </picture>
              </a>
            </div>
            <div class="card__descr similar-card__descr">
              <a href="product.html" class="product-link">
                <h3 class="title card__title similar-card__title">Диван кожаный <br> “R-94”</h3>
              </a>
              <span class="card__price similar-card__price">94 990 руб</span>
              <button class="btn buy card__btn similar-card__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide similar__swiper-slide">
          <article class="card similar-card">
            <span class="catalogue__rate card__rate">4,9</span>
            <div class="similar-card__picture">
              <a href="product.html" class="product-link">
                <picture>
                  <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_2_320.webp">
                  <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_2_768.webp">
                  <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_2_1024.webp">
                  <source type="image/webp" srcset="img/sofa_2.webp">
                  <img class="similar-card__img" src="img/sofa_2.png" alt="Диван апартековый “T-75”">
                </picture>
              </a>
            </div>
            <div class="card__descr similar-card__descr">
              <a href="product.html" class="product-link">
                <h3 class="title card__title similar-card__title">Диван апартековый <br> “T-75”</h3>
              </a>
              <span class="card__price similar-card__price">69 990 руб</span>
              <button class="btn buy card__btn similar-card__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide similar__swiper-slide">
          <article class="card similar-card">
            <span class="catalogue__rate card__rate">4,8</span>
            <div class="similar-card__picture">
              <a href="product.html" class="product-link">
                <picture>
                  <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_3_320.webp">
                  <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_3_768.webp">
                  <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_3_1024.webp">
                  <source type="image/webp" srcset="img/sofa_3.webp">
                  <img class="similar-card__img" src="img/sofa_3.png" alt="Диван тканевый “D-31”">
                </picture>
              </a>
            </div>
            <div class="card__descr similar-card__descr">
              <a href="product.html" class="product-link">
                <h3 class="title card__title similar-card__title">Диван тканевый <br> “D-31”</h3>
              </a>
              <span class="card__price similar-card__price">28 490 руб</span>
              <button class="btn buy card__btn similar-card__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide similar__swiper-slide">
          <article class="card similar-card">
            <span class="catalogue__rate card__rate">4,8</span>
            <div class="similar-card__picture">
              <a href="product.html" class="product-link">
                <picture>
                  <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_4_320.webp">
                  <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_4_768.webp">
                  <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_4_1024.webp">
                  <source type="image/webp" srcset="img/sofa_4.webp">
                  <img class="similar-card__img" src="img/sofa_4.png" alt="Диван велюровый “Y-68”">
                </picture>
              </a>
            </div>
            <div class="card__descr similar-card__descr">
              <a href="product.html" class="product-link">
                <h3 class="title card__title similar-card__title">Диван велюровый <br> “Y-68”</h3>
              </a>
              <span class="card__price similar-card__price">22 990 руб</span>
              <button class="btn buy card__btn similar-card__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide similar__swiper-slide">
          <article class="card similar-card">
            <span class="catalogue__rate card__rate">4,8</span>
            <div class="similar-card__picture">
              <a href="product.html" class="product-link">
                <picture>
                  <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_5_320.webp">
                  <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_5_768.webp">
                  <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_5_1024.webp">
                  <source type="image/webp" srcset="img/sofa_5.webp">
                  <img class="similar-card__img" src="img/sofa_5.png" alt="Диван из шинила “W-95”">
                </picture>
              </a>
            </div>
            <div class="card__descr similar-card__descr">
              <a href="product.html" class="product-link">
                <h3 class="title card__title similar-card__title">Диван из шинила <br> “W-95”</h3>
              </a>
              <span class="card__price similar-card__price">22 990 руб</span>
              <button class="btn buy card__btn similar-card__btn">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide similar__swiper-slide">
          <article class="card similar-card">
            <span class="catalogue__rate card__rate">4,8</span>
            <div class="similar-card__picture">
              <a href="product.html" class="product-link">
                <picture>
                  <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/sofa_6_320.webp">
                  <source type="image/webp" media="(max-width: 768px)" srcset="img/sofa_6_768.webp">
                  <source type="image/webp" media="(max-width: 1290px)" srcset="img/sofa_6_1024.webp">
                  <source type="image/webp" srcset="img/sofa_6.webp">
                  <img class="similar-card__img" src="img/sofa_6.png" alt="Диван флоковый “G-41”">
                </picture>
              </a>
            </div>
            <div class="card__descr similar-card__descr">
              <a href="product.html" class="product-link">
                <h3 class="title card__title similar-card__title">Диван флоковый <br> “G-41”</h3>
              </a>
              <span class="card__price similar-card__price">17 990 руб</span>
              <button class="btn buy card__btn similar-card__btn">Купить</button>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="similar__swiper-btns">
      <div class="swiper-button-prev btn-arrow btn-arrow-prev similar__swiper-btn similar__swiper-btn-prev"></div>
      <div class="swiper-button-next btn-arrow btn-arrow-next similar__swiper-btn similar__swiper-btn-next"></div>
    </div>
  </div>
</section>