<section class="special">

  <div class="container special__container">
    <h2 class="heading special__heading">Специальные предложения</h2>
    <div class="swiper special__swiper">
      <div class="special__btns">
        <div class="swiper-button-prev special__btn-prev btn-arrow btn-arrow-prev"></div>
        <div class="swiper-button-next special__btn-next btn-arrow btn-arrow-next"></div>
      </div>
      <div class="swiper-wrapper special__swiper-wrapper">
        <div class="swiper-slide special__swiper-slide special__swiper-slide-short">
          <div class="special__card-block">
            <span class="special__tag">- 9 000</span>
            <a href="product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/special_1_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/special_1_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/special_1_1024.webp">
                <source type="image/webp" srcset="img/special_1.webp">
                <img class="special__img" src="img/special_1.png" alt="Кресло велюровое “X-24”">
              </picture>
            </a>
            <div class="special__block">
              <a href="product.html" class="product-link">
                <h3 class="title special__title">Кресло велюровое <br> “X-24”</h3>
              </a>
              <span class="special__price">15 990 руб</span>
              <span class="special__price-crossed"><s>24 990 руб</s></span>
              <button class="btn buy special__btn">Купить</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide special__swiper-slide special__swiper-slide-long">
          <div class="special__card-block">
            <span class="special__tag">- 10 000</span>
            <a href="product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/special_2_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/special_2_768.webp">
                <source type="image/webp" media="(max-width: 1319px)" srcset="img/special_2_1024.webp">
                <source type="image/webp" srcset="img/special_2.webp">
                <img class="special__img special__img-long" src="img/special_2.png" alt="Диван тканевый “Z-44”">
              </picture>
            </a>
            <div class="special__block special__block-1">
              <a href="product.html" class="product-link">
                <h3 class="title special__title">Диван тканевый <br> “Z-44”</h3>
              </a>
              <span class="special__price">22 990 руб</span>
              <span class="special__price-crossed"><s>32 990 руб</s></span>
              <button class="btn buy special__btn">Купить</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide special__swiper-slide special__swiper-slide-short">
          <div class="special__card-block">
            <span class="special__tag">- 600</span>
            <a href="product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/special_3_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/special_3_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/special_3_1024.webp">
                <source type="image/webp" srcset="img/special_3.webp">
                <img class="special__img" src="img/special_3.png" alt="Будильник  “Quartz-23”">
              </picture>
            </a>
            <div class="special__block">
              <a href="product.html" class="product-link">
                <h3 class="title special__title">Будильник <br> “Quartz-23”</h3>
              </a>
              <span class="special__price">1 290 руб</span>
              <span class="special__price-crossed"><s>1 890 руб</s></span>
              <button class="btn buy special__btn">Купить</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide special__swiper-slide special__swiper-slide-short">
          <div class="special__card-block">
            <span class="special__tag">- 300</span>
            <a href="product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/special_4_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/special_4_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/special_4_1024.webp">
                <source type="image/webp" srcset="img/special_4.webp">
                <img class="special__img" src="img/special_4.png" alt="Мини-скульптура “Oh my deer”">
              </picture>
            </a>
            <div class="special__block">
              <a href="product.html" class="product-link">
                <h3 class="title special__title">Мини-скульптура “Oh my deer”</h3>
              </a>
              <span class="special__price">690 руб</span>
              <span class="special__price-crossed"><s>990 руб</s></span>
              <button class="btn buy special__btn">Купить</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide special__swiper-slide special__swiper-slide-long">
          <div class="special__card-block">
            <span class="special__tag">- 10 000</span>
            <a href="product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/special_5_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/special_5_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/special_5_1024.webp">
                <source type="image/webp" srcset="img/special_5.webp">
                <img class="special__img special__img-long" src="img/special_5.png" alt="Диван вел-флок “Z-85”">
              </picture>
            </a>
            <div class="special__block special__block-2">
              <a href="product.html" class="product-link">
                <h3 class="title special__title">Диван вел-флок “Z-85”</h3>
              </a>
              <span class="special__price">22 990 руб</span>
              <span class="special__price-crossed"><s>32 990 руб</s></span>
              <button class="btn buy special__btn">Купить</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide special__swiper-slide special__swiper-slide-short">
          <div class="special__card-block">
            <span class="special__tag">- 700</span>
            <a href="product.html" class="product-link">
              <picture>
                <source type="image/webp" media="(min-width: 320px) and (max-width: 560px)" srcset="img/special_6_320.webp">
                <source type="image/webp" media="(max-width: 768px)" srcset="img/special_6_768.webp">
                <source type="image/webp" media="(max-width: 1290px)" srcset="img/special_6_1024.webp">
                <source type="image/webp" srcset="img/special_6.webp">
                <img class="special__img" src="img/special_6.png" alt="Термометр + гидрометр “H-18”">
              </picture>
            </a>
            <div class="special__block">
              <a href="product.html" class="product-link">
                <h3 class="title special__title">Термометр + гидрометр “H-18”</h3>
              </a>
              <span class="special__price">1 390 руб</span>
              <span class="special__price-crossed"><s>2 090 руб</s></span>
              <button class="btn buy special__btn">Купить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
